@keyframes bounce {
  from {height: 30px;}
  to {height: 70px;}
}

body, html{
  height:100%;
}
body{
  background-image: url(media/Dance-floor1.jpg);
  background-size:cover;
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
#lineUp{
  float:left;
  padding:5px 12px;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}


.dancer{
  background-color: transparent;
  background-size: 200px 200px;
  border-radius: 0%;
  position:absolute;
  height: 200px;
  width: 200px;
  transition: all 1s;
}

.bouncyDancer{
  background-color:blue;
  /*animation-duration: 1s;*/
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}



